Checks: '-*
  ,clang-diagnostic-*
  ,misc-*
  ,-misc-unused-parameters
  ,-misc-non-private-member-variables-in-classes
  ,readability-identifier-naming
  ,readability-else-after-return
  ,bugprone-*,
  ,-bugprone-narrowing-conversions'
CheckOptions:
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.MemberCase
    value:           CamelCase
  - key:             readability-identifier-naming.ParameterCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           CamelCase
  - key:             readability-identifier-naming.IgnoreMainLikeFunctions
    value:           1
  - key:             readability-identifier-naming.ClassConstantCase
    value:           aNy_CasE
